.favorite {
  display: flex;
  align-items: center;
  gap: toRem(8);
  padding: toRem(8);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  @include hover{
    background-color: var(--color-blue-grand);
  }
}

.iconWrapper {
  position: relative;
  display: flex;
}

.icon {
  color: var(--color-light);

  @include tablet {
    width: toRem(28);
    height: toRem(28);
  }
}

.count {
  position: absolute;
  inset-block-start: toRem(-6);
  inset-inline-start: calc(100% - #{toRem(12)});
  display: grid;
  place-items: center;
  min-width: toRem(18);
  height: toRem(18);
  padding-inline: toRem(5);
  border-radius: toRem(9);
  background-color: var(--color-yellow-brand);
  color: var(--color-black);
  font-size: toRem(11);
  font-weight: 700;
  line-height: 1;
  pointer-events: none;
}
