.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  padding: toRem(8);
  overflow: hidden;
  color: var(--color-black);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius-small);
}

.image {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: toRem(8);
  object-fit: contain;
}

.price {
  margin-bottom: toRem(6);
  font-size: toRem(14);
  font-weight: 700;
  line-height: toRem(18);
  white-space: nowrap;
}

.name {
  display: -webkit-box;
  min-height: toRem(32);
  margin-bottom: toRem(6);
  overflow: hidden;
  font-size: toRem(13);
  font-weight: 500;
  line-height: toRem(16);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  color: #717171;
  font-size: toRem(12);
  line-height: toRem(15);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
