@use 'helpers' as *;

body {
  font-family: 'Goloss', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.darken-bg {
  background: rgba(0, 0, 0, 0.5);
  transition-duration: var(--transition-duration);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.reset-button {
  background: none;      /* Removes the default gray background */
  border: none;          /* Removes the default border */
  padding: 0;            /* Removes native inner spacing */
  margin: 0;             /* Removes native outer spacing */
  font: inherit;         /* Uses the font of the parent element */
  color: inherit;        /* Uses the text color of the parent element */
  text-align: inherit;   /* Uses the text alignment of the parent element */
  appearance: none;      /* Removes platform-specific native styling */
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.p300 {
  font-size: toRem(11);
  line-height: toRem(12);
}

.p500 {
  font-size: toRem(13);
  line-height: toRem(14);
}
