@use 'helpers' as *;

:root {
  --color-white: #fff;
  --color-black: #111213;
  --color-light: #f9f8fc;
  --color-red: #ea3421;
  --color-pink: #D93E5C;

  --color-yellow-light: #febd01;
  --color-yellow-brand: #ffbd00;

  --color-gray-1: #8f96a3;
  --color-gray-2: #2f3237;

  --color-blue-light: #0a79d5;
  --color-blue-grand: #0567BA;
  --color-blue-deep: #084A83;

  --border-radius-small: #{toRem(8)};
  --border-radius-medium: #{toRem(10)};

  --border: solid #{toRem(1)} #eee;

  --shadow: 0 0 #{toRem(8)} rgba(0, 0, 0, .16);

  --transition-duration: 0.2s;

  --container: #{toRem(1640)};
  --container-padding-x: #{toRem(32)};

  @include laptop {
    --container-width: #{toRem(1280)};
  }
}