.logoWrapper {
  display: flex;
  align-items: center;
  gap: toRem(20);

  @include laptop {
    gap: toRem(8);
  }
}

.burgerButton {
  padding: toRem(8);
  cursor: pointer;

  @include hover {
    background-color: var(--color-blue-grand);
  }
}