.cart {
  display: flex;
  align-items: center;
  gap: toRem(8);
  padding: toRem(8);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  color: var(--color-light);
  text-decoration: none;

  @include hover{
    background-color: var(--color-blue-grand);
  }
}

.cartExtra {
  @include tablet{
    display: none;
  }
}

.icon {
  color: var(--color-light);

  @include tablet {
    width: toRem(30);
    height: toRem(30);
  }
}