.header {
  color: var(--color-light);
}

.navigation {
  display: flex;
  background-color: var(--color-blue-light);
  align-items: center;
  gap: toRem(16);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: toRem(20);
}

.logo {
  width: toRem(62);
}

.location {
  display: flex;
  flex-direction: column;
  transition-duration: var(--transition-duration);
  cursor: pointer;
  justify-content: center;
  height: 100%;
  padding: toRem(12) toRem(6);
  gap: toRem(2);

  &:hover {
    background-color: var(--color-blue-grand);
  }
}



.city {
  padding-left: toRem(18);
  font-size: toRem(11);
  line-height: toRem(12);
}

.gapRow {
  display: flex;
  align-items: center;
  gap: toRem(4);
}

.extra {
  font-size: toRem(13);
}

.searchBar {
  padding-block: toRem(8);
}

.searchForm {
  display: flex;
}

.searchInput {
  width: toRem(850);
  padding: toRem(4) toRem(16);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  border: none;
}

.searchInput::placeholder {
  font-size: toRem(14);
  line-height: toRem(20);
}

.searchInput:focus {
  outline: none;
  box-shadow: none;
}

.buttonSearch {
  cursor: pointer;
  width: toRem(50);
  height:toRem(36);
  background-color: var(--color-yellow-brand);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  border: none;

  @include flex-center();
}

.userMenu {
  display: flex;
}