.header {
  color: var(--color-light);
}

.navigation {
  display: flex;
  background-color: var(--color-blue-light);
  align-items: center;
  gap: toRem(16);

  @include laptop {
    max-width: 100%;
    padding-inline: calc(var(--container-padding-x) / 2);
  }

  @include tablet {
    flex-wrap: wrap;
    gap: toRem(4);
    justify-content: space-between;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: toRem(20);

  @include laptop {
    gap: toRem(8);
  }
}

.logo {
  width: toRem(62);
}

.location {
  display: flex;
  flex-direction: column;
  transition-duration: var(--transition-duration);
  cursor: pointer;
  justify-content: center;
  height: 100%;
  padding: toRem(12) toRem(6);
  gap: toRem(2);

  &:hover {
    background-color: var(--color-blue-grand);
  }

  @include tablet {
    order: 4;
  }
}


.city {
  padding-left: toRem(18);
}

.gapRow {
  display: flex;
  align-items: center;
  gap: toRem(4);
}


.searchBar {
  padding-block: toRem(8);
  flex-grow: 1;
  min-width: 0;

  @include tablet {
    width: 100%;
    order: 3;
  }
}

.searchForm {
  display: flex;
}

.searchInput {
  flex-grow: 1;
  min-width: 0;
  padding: toRem(4) toRem(16);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  border: none;

  &::placeholder {
    font-size: toRem(14);
    line-height: toRem(20);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.buttonSearch {
  cursor: pointer;
  width: toRem(50);
  height: toRem(36);
  background-color: var(--color-yellow-brand);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  border: none;

  @include flex-center();
}

.userMenu {
  display: flex;
  gap: toRem(32);

  @include laptop {
    gap: toRem(8);
  }
}

.cart {
  display: flex;
  align-items: center;
  gap: toRem(8);
  padding: toRem(8);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-blue-grand);
  }
}

.cartExtra {
  @include tablet{
    display: none;
  }
}

.langSwitcherWrapper {
  display: flex;
  align-items: center;
}

.langSwitcher {
  display: flex;
  background: rgba(255, 255, 255, .1);
  padding: toRem(4);
  gap: toRem(4);
  align-items: center;
  border-radius: toRem(80);

  input {
    display: none;

    &:checked + label {
      color: var(--color-blue-grand);
      background-color: var(--color-light);
    }
  }

  label {
    border-radius: toRem(80);
    line-height: toRem(16);
    font-size: toRem(12);
    padding: toRem(4) toRem(8);
    transition-duration: var(--transition-duration);
    cursor: pointer;
  }
}

.authHover {
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--color-blue-grand);
    transition-duration: var(--transition-duration);

  }
}

.auth {
  display: flex;
  flex-direction: column;
  gap: toRem(4);
  padding: toRem(8);
  cursor: pointer;
}