
.header {
  color: var(--color-light);
}

.desktopHeader {
  @include tablet {
    display: none;
  }
}

.mobileHeader {
  @include tablet-above {
    display: none;
  }
}

.headerTop {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  background-color: var(--color-blue-light);
  align-items: center;
  gap: toRem(16);

  @include laptop {
    max-width: 100%;
    padding-inline: calc(var(--container-padding-x) / 2);
  }
}

.mobileNavigation {
  background-color: var(--color-blue-light);
  align-items: center;
  gap: toRem(16);

  @include laptop {
    max-width: 100%;
    padding-inline: calc(var(--container-padding-x) / 2);
  }
}