.userMenu {
  display: flex;
  gap: toRem(32);

  @include laptop {
    gap: toRem(8);
  }
}

.cart {
  display: flex;
  align-items: center;
  gap: toRem(8);
  padding: toRem(8);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  @include hover{
    background-color: var(--color-blue-grand);
  }
}

.cartExtra {
  @include tablet{
    display: none;
  }
}
