.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition-duration: var(--transition-duration);
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: toRem(320); /* Adjust your desired width */
  height: 100vh;
  background-color:  rgb(242, 242, 242);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: toRem(16);
  background-color: #ffffff;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  gap: toRem(8);
  padding-bottom: toRem(16);
  color: var(--color-black);
  text-decoration: none;
}