.searchBar {
  padding-block: toRem(8);
  flex-grow: 1;
  min-width: 0;
}

.searchForm {
  display: flex;
  border-radius: var(--border-radius-small);

  &:focus-within {
    outline: toRem(2) solid var(--color-yellow-brand);
    outline-offset: toRem(2);
  }
}

.searchInput {
  -webkit-appearance: none; /* Убирает системные стили Safari для поля поиска */
  appearance: none;
  flex-grow: 1;
  min-width: 0;
  max-width: toRem(1100);
  padding: toRem(4) toRem(16);
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  border: none;
  line-height: 1.4;

  @include mobile {
    padding-inline: toRem(8);
  }

  &::placeholder {
    font-size: toRem(14);
  }

  &:focus-visible {
    outline: toRem(2) solid var(--color-blue-deep);
    outline-offset: toRem(-3);
  }
}

.clearBtn {
  @include flex-center;

  flex-shrink: 0;
  min-height: toRem(36);
  width: toRem(32);
  background-color: var(--color-white);
  border: none;
  color: var(--color-black);
  font-size: toRem(18);
  cursor: pointer;
  padding: toRem(6);
}

input::-webkit-search-cancel-button,
input::-ms-clear {
  display: none;
}

.buttonSearch {
  cursor: pointer;
  flex-shrink: 0;
  width: toRem(50);
  min-height: toRem(36);
  background-color: var(--color-yellow-brand);
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  border: none;

  @include flex-center();
}

.clearBtn,
.buttonSearch {
  &:focus-visible {
    outline: toRem(2) solid var(--color-blue-deep);
    outline-offset: toRem(-3);
  }
}

.searchInput::-webkit-search-cancel-button {
  appearance: none;
}
